.board {
    display: flex;
    border:  0.05em solid black;
    border-right: 0;
    border-bottom: 0;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    align-content: flex-start;
    max-width: 9.4em;
    max-height:9.4em;
}

.cell_empty {
    flex:1;
    border: 0.05em solid black;
    border-left: 0;
    border-top: 0;
    min-width: 3em;
    min-height: 3em;
    padding: 0;
    margin: 0;
}


.cell_krest {
    flex:1;
    border: 0.05em solid black;
    border-left: 0;
    border-top: 0;
    min-width: 3em;
    min-height: 3em;
    padding: 0;
    margin: 0;
    background-image: url("img/krest.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cell_nol {
    flex:1;
    border: 0.05em solid black;
    border-left: 0;
    border-top: 0;
    min-width: 3em;
    min-height: 3em;
    padding: 0;
    margin: 0;
    background-image: url("img/nol.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cell_empty_t {
    width: 3em;
    height: 3em;
    margin: 0;
    border: 1px solid black;
    /*padding: 0;*/
    /*margin: 0;*/
}
.cell_nol_t{
    width: 3em;
    height: 3em;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    background-image: url("img/nol.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cell_krest_t {
    width: 3em;
    height: 3em;
    padding: 0;
    border: 1px solid black;
    margin: 0;
    background-image: url("img/krest.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.board_t{
    /*border-spacing: 0;*/
    border: 1px;
    border-collapse: collapse;
}