.board {
    display: flex;
    border:  0.05em solid black;
    border-right: 0;
    border-bottom: 0;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    align-content: flex-start;
    max-width: 9.4em;
    max-height:9.4em;
}

.cell_empty {
    flex:1;
    border: 0.05em solid black;
    border-left: 0;
    border-top: 0;
    min-width: 3em;
    min-height: 3em;
    padding: 0;
    margin: 0;
}


.cell_krest {
    flex:1;
    border: 0.05em solid black;
    border-left: 0;
    border-top: 0;
    min-width: 3em;
    min-height: 3em;
    padding: 0;
    margin: 0;
    background-image: url("img/krest.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cell_nol {
    flex:1;
    border: 0.05em solid black;
    border-left: 0;
    border-top: 0;
    min-width: 3em;
    min-height: 3em;
    padding: 0;
    margin: 0;
    background-image: url("img/nol.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}